<%provide(:title, "Welcome")%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<p id="notice"><%= notice %></p>

<h1 id="index"> Welcome to our housing app </h1>


<body>
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
  <form>
    <div class="form-group">
      <h4> Please login here </h4>
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email">
    </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
    <form>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd"><br>
      <a href="#" class="btn btn-info" role="button">Submit</a>
    </div>
  </form>
</div>
</div>

<h4 id="hello"> We have a bunch of houses: </h4>
<div class="row">
  <div class="col-sm-4">
    <h4 id="cheap-head"> The cheapest one </h4>
     <div class="container" id = "cheap" style="height: 300px;">

     </div>
  </div>
  <div class="col-sm-4">
    <h4 id="cheap-head"> The nicest one </h4>
    <div class="container" id = "nice" style="height: 300px;">

    </div>
  </div>
  <div class ="col-sm-4">
    <h4 id="cheap-head"> For family </h4>
    <div class="container" id = "family" style="height: 300px;">

    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-12">
  <h4 id="dev"> Developers: </h4>
</div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-4 text-center">
  <h4 id="dev"> Ian</h4>

  <img src="https://scontent.fzty2-1.fna.fbcdn.net/v/t1.0-9/11933407_1650682521881795_4122027083466856009_n.jpg?oh=382d854c6af318c786afe7b4d7267007&oe=5A79E15C" class="img-circle" id="ian" alt="Cinque Terre" width="300" height="404">
  </div>
  <div class="col-md-4 col-sm-4 col-xs-4 text-center">
  <h4 id="dev"> Jonathan </h4>

<img src="https://scontent.fzty2-1.fna.fbcdn.net/v/t31.0-1/c106.106.1324.1324/s960x960/964735_10201328564561886_918409035_o.jpg?oh=25b27f717dc98e602589954adc68e7fa&oe=5A773F3D" class="img-circle" id="jonathan" alt="Cinque Terre" width="300" height="404">
</div>
</div>
</body>
