<%= render layout: 'form' do |form| %>
  <body class ="page4">
    <h1> Calendar </h1>
  <div class ="row">
    <div class = "col-sm-7" id ="calendar_dates">
  <div class="field">
    <%= form.date_select :start_date, id: :home_start_date %>
  </div>

  <div class="field">
    <%= form.date_select :end_date, id: :home_end_date %>
  </div>
</div>
<div class = "col-sm-5">
<%=image_tag("calendar.jpg", width:600, height:600, id:"calendar_image")%>
</div>
</div>
</body>
<% end %>
