// Place all the styles related to the home_steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
*= require dropzone
*/
input[type="checkbox"]{
  left:240px;
}
.nav-tabs{
  margin-left:340px;
}
h1{
  margin-left:350px;
}
#am{
  margin-left:290px;
}
.tab-content > .active {
    display: block;
    margin-left: -300px;
}
.edit_home{
  margin-left:-300px;
}
.new_home{
  margin-left:-300px;
}
#facilities{
  margin-left:-220px;
}
#fees{
  margin-left:-200px;
}


#rooms7{
  margin-top:100px;
}
#calendar_dates{
  margin-top:160px;
  margin-left:-80px;
}
