// Place all the styles related to the home_steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
*= require dropzone
*/
input[type="checkbox"]{
  left:240px;
}
.nav-tabs{
  margin-left:500px;
}
h2{
  margin-left:285px;
}
.tab-content > .active {
    display: block;
    margin-left: -45px;
}
