// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.marker_container {
    width: 120px;
    height: 120px;
    background-color: black;
    color: white;
    margin-left: -100px;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: -1;
    bottom: 0%;
    left: 95%;
    margin-left: -70px;
}

.marker_container::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.marker_container1 {
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.marker_container1:hover {
  transform: scale(1.03);
  border-width: 2px;
  border-color: black;
  border-style: solid;
  z-index: 1000;
}

.clicked {
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 2;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

#map {
  width: 380px;
  height: 400px;
  right: 2%;
  width: 50% !important;
  z-index: -1;
}

#map-box {
  position:fixed;
}

.new {
  align:center;
}

#filters {
  position:fixed;
}

.slider-input {
  width: 300%;
  display: inline-block;
  margin-top: 100%;
  border-style: none;
  background: transparent;
}

.modal-main {
  background-color: white;
}

.modal {
  height: 530px;
  width: 700px;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 100px;
}

.modal-footer a.btn:hover {
  background-color: black;
  color:white;
}

.box {
  margin-top: 10%;
  height: 18vh;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  text-align:center;
  border-bottom-style: none;
}

.box:hover {
  background-color: #0070FF !important;
  color: white !important;
}

#index {
  height: 73%;
  overflow-y:auto;
  overflow-x:hidden;
  width: 45%;
}

#map {
  width: 100%;
  height: 73%;
}

#daterange {
  resize: none;
  text-align: left;
  width: auto;
}

textarea::-webkit-input-placeholder {
  color: black;
}

textarea:-moz-placeholder { /* Firefox 18- */
  color: black;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
  color: black;
}

textarea:-ms-input-placeholder {
  color: black;
}

.dropdown-menu {
  overflow-x: visible;
  width: 300%;
}

.home-button {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  text-align: center;
  border-top-style: none;
  width: 50%;
  float: left;
  border-radius: 0;
}

.home-button.send {
  border-right-style: none;
  color: black;
}

.home-button.notify {
  border-left-style: none;
}

.btn.home-button:hover {
  background-color: #0070FF;
  color: white;
}

.ui-slider-handle.custom-handle {
  background: #0070FF;
}

.ui-slider-range {
  background: #0070FF;
}

.btn-sm {
  margin-top: 15%;
}

.btn-secondary {
  background: transparent;
}

.slider-label-below {
  margin-top: 10%;
}

.select-filter {
  width: auto;
}

.reset {
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  padding: 2%;
}

.bottom {
  position: fixed !important;
  bottom: 2%;
}

#filterrific_results > div:first-child {
  margin-bottom: -10%;
}

.modal-backdrop {
  position: absolute;
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ) !important;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.col-sm-1 {
  display: inline-table;
}
