// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url("//netdna.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.css");

.marker_container {
  width: 250%;
  height: 100px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: -1;
  bottom: -10px;
  left: 20%;
  margin-left: -70px;
}

.marker_container::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.marker_container1 {
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.marker_container1:hover {
  transform: scale(1.03);
  box-shadow:
                1px 1px #A9A9A9,
                2px 2px #A9A9A9,
                3px 3px #A9A9A9;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  border-width: 2px;
  border-color: black;
  border-style: solid;
  z-index: 1000;
}
.form-group{
  margin-left: 500px;
  width: 900px;
}
.clicked {
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 2;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

#map {
  width: 380px;
  height: 400px;
  right: 2%;
  width: 50% !important;
  z-index: -1;
}

#map-box {
  position:fixed;
}

.new {
  align:center;
}

#filters {
  position:fixed;
}

.slider-input {
  width: 300%;
  display: inline-block;
  margin-top: 100%;
  border-style: none;
  background: transparent;
}

.modal-main {
  background-color: white;
  position:fixed;
  width:650px;
  border-style: solid;
  border-width: medium;
}
.input{
  width: 150px;
}

.modal {
  height: 530px;
  width: 700px;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 100px;
}

.modal-footer a.btn:hover {
  background-color: black;
}

.box {
  height: 18vh;
  text-align:center;
  border-bottom-style: none;
  color: black;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  z-index: -1;
}

#index {
  height: 73%;
  overflow-y:auto;
  overflow-x:hidden;
  width: 45%;
}
#index1 {
  height: 46%;
  overflow-y:auto;
  overflow-x:hidden;
  width: 16.5%;
}

#map {
  width: 100%;
  height: 73%;
}

#daterange {
  resize: none;
  width: auto;
  color: white !important;
}

#daterange::placeholder {
  color: white;
}

textarea::-webkit-input-placeholder {
  color: black;
}

textarea:-moz-placeholder { /* Firefox 18- */
  color: black;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
  color: black;
}

textarea:-ms-input-placeholder {
  color: black;
}

hr {
  margin-top: 0px;
}

.dropdown-menu {
  overflow-x: visible;
  width: 150%;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
}

.home-buttons {
  display: inline-block;
  float: left;
  width: 100%;
  margin-bottom: 10%;
  margin-top: -15%;
}

.home-button {
  text-align: center;
  width: 48%;
  float: left;
}

.home-button.send {
  position: absolute;
}

.home-buttons div a:visited {
  color: white;
}

.ui-slider-handle.custom-handle {
  background: #2D5154;
  border-radius: 50%;
}

.custom-slider {
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
}

.ui-slider-range {
  background: #2D5154;
}

.btn-sm {
  margin-top: 15%;
}

.btn-secondary {
  border-color: black;
  &:hover{
    background-color: #ccc;
  }
}

::placeholder {
  color: black !important;
}

.slider-label-below {
  margin-top: 10%;
}

.select-filter {
  width: auto;
}
.btn-default{
  margin-left: 550px;
  width:300px;
}

.hover_me{
  text-decoration: underline;
}

#home_is_furnished{
  margin-right: 0;
  text-align: center;
  width:20px;
  height:40px;
  font-weight: bold;
}
.radio label, .checkbox label{
  font-weight: bold;
  padding-left: 20px;
  margin-left:250px;
}
.radio-inline{
  width:100px;
  margin-left: -5px;
}

.bottom {
  position: fixed !important;
  bottom: 2%;
}
input[type="file"] {
    display: block;
    margin-left: 480px;
    width:300px;
}

.bottom1 {
  position: fixed;
}

#filterrific_results > div:first-child {
  display: none;
}

.modal-backdrop {
  position: absolute;
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ) !important;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.modal-backdrop.in{
  opacity:0;
}

#option_entire_home{
  margin-right: 0;
  text-align: center;
  width:20px;
  height:40px;
  font-weight: bold;
}

.col-sm-1 {
  display: inline-table;
}

.home-photo {
  margin: auto;
  width: 100%;
}

.slick-arrow {
  z-index: 1;
  position: absolute;
}

.slick-arrow:hover{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow:    0px 0px 30px 0px rgba(255, 255, 255, 1);
  box-shadow:         0px 0px 30px 0px rgba(255, 255, 255, 1);
}

.slick-prev {
  left: 2%;
}

.slick-next {
  right: 2%;
}

.home-wrapper {
  width: 48%;
  display: inline-block;
  float: left;
  margin-left: 2%;
  margin-bottom: 2%;
}

.slick-slide img {
  bottom: 0;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  right: 0;
  position: absolute;
  top: 0;
}

.photo-container {
  padding-top: 62%;
  position: relative;
  width: 100%;
}

.slick-slider {
  margin-bottom: 0px;
}

.form-container {
  width: 100%;
  text-align: center;
}

.col-sm-12 {
  text-align: left;
}

.pagination {
  width: 100%;
}

.btn-warning {
  color: white !important;
}

.btn-info {
  width: 100%;
}

.daterange.caret{
  position: absolute;
  margin-left: 75%;
  margin-top: -14%;
  color: black;
}

.daterange-container{
  display: inline-block;
  position: relative;
}

#home_available_rooms {
  margin-left:-400px;
}

#home_total_bathrooms {
  margin-left:-400px;
}

#home_total_rooms {
  margin-left:-400px;
}

#home_private_bathrooms {
  margin-left:-400px;
}

.control-label {
  margin-left:-200px;
}

body.label_first .control-label {
    margin-left:0px;
    width:300px;
}

body.page2 .btn-default {
  margin-left:120px;
}

body.label_first {
  max-width:3000px;
}

.cancelBtn {
  margin-left: 0;
  width: 49%;
}

.photos_show {
  margin-left:120px;
}

#photos_new {
  margin-left:120px;
}

.checkbox {
  width:400px;
  margin-left:400px;
}

body.page3 .form-control {
  margin-left:-400px;
}

body.page3 .control-label {
  margin-left:-207px;
}

body.page3 #photos_new {
  margin-left:110px;
}

body.page4 .btn-default {
  margin-left:120px;
}

body.page3 .btn-default {
  margin-left:120px;
}

.rails-bootstrap-forms-date-select {
  margin-right:400px;
}

#photos{
  display:block;
  margin:auto;
  text-align:center;
}

.ranges {
  clear: both;
  width: 100% !important;
}

.applyBtn {
  width: 49%
}

.box-text {
  font-family: georgia;
  font-size: 1vw;
}

.dropdown {
  margin-bottom: 5%;
}

.infoBox > img {
  margin: -10px 4px !important;
}

#chart-1 {
  position: relative;
  left: -30px;
}

#price_slider {
  top: -10px;
}

.graph-container {
  overflow: hidden;
  height: 110px;
  left: 30px;
  position: relative;
}

.chartjs-render-monitor {
  width: 92% !important;
}

.btn-reset {
  background-color: #366645;
  color: white !important;
  &:hover{
    background-color: #264630;
  }
}

.btn-primary {
  background-color: #35787E;
  &:hover{
    background-color: #295e63;
  }
}

.btn-success {
  background-color: #366645;
  &:hover{
    background-color: #264630;
  }
}

.filtered {
  color: white !important;
  background-color: #707773;
  &:hover{
    background-color: #5e6561;
  }
}
