// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
*= require dropzone
*/
#upload_photos{
  margin-left:0px;
}
.dropzone{
  border:solid;
}
#save_photo {
    margin-top: 25px;
    width: 100px;
    margin-left: 640px;
    background-color: green;
    color: white;
}
